* {
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  max-width: 1550px;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  box-sizing: 0 2px 6px #0E273C;
  padding: 0 15px;
  box-sizing: border-box;

}


/*---Styles Header---*/

header{
  width: 97%;
  min-height: 100px;
  max-width: 1530px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  box-sizing: border-box;
  background-color: #D3BCCC;
  box-shadow: 0 5px 10px #0E273C;
}

a{
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover{
  color: #4A306D;
}

li{
  list-style: none;
}

header ul{
  display: flex;
  padding: 0;
  margin: 0;
}

header ul li{
  padding: 0 1rem;
}

header ul li a{
  font-weight: bold;
}

header .cart{
  position: relative;
  cursor: pointer;
}

header .cart box-icon{
  width: 45px;
  height: 45px;
}

header .cart span{
  position: absolute;
  top: -1rem;
  right: -1.5rem;
  width: 2.5rem;
  font-weight: 700;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  padding: 0rem;
  font-size: 1.5rem;
  background-color: #4A306D;
}

/*---------Products-------*/

.Tittle{
  font-size: 2.4rem;
  padding: 10rem 0 0 0;
  color: #000;
}

.Products{
  padding: 5rem 0rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(21rem, 1fr));
  gap: 3rem 2rem;
  box-sizing: border-box;
}

.Product{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 3px 8px 4px rgba(0,0,0,0.71);
  border: 6px solid transparent;
  border-radius: 5px;
}

.Product:hover{
  border: 6px solid #cbbad4;
}

.Product__img img{
  width: 310px;
}

.product__footer{
  padding: 1rem;
}
.product__footer h1{
  font-size: 1.5rem;
  font-weight: 600;
  font-family: monospace;
}

.product__footer p{
  font-weight: 700;
  color: #4A306D;
  text-transform: uppercase;
  font-size: 18px;
}

.product__footer .price{
  font-size: 2rem;
  color: #2e1e44;
}

.Product .button{
  width: 100%;
  height: 45px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem 2rem;
}

.button .btn{
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 6px;
}

.button button{
  background-color: #D3BCCC;
  max-width: 250px;
  width: 100%;
  margin: 0 auto;
  font-size: 1.5rem;
}
.button div {
  background-color: #c58fb5;
  display: grid;
  align-items: center;
  margin-left: -2rem;
  border-radius: 5px;
}

.button div a{
  text-align: center;
  font-weight: 500;
}

.button div a:hover{
  color: #E8D7F1;
}